/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------
                Custom Style
--------------------------------------------- */
html {
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-sizing: border-box;
}

body {
	font-family: 'Saira', sans-serif;
	line-height: 1.5;
}

img {
	width: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	line-height: inherit;
}

h1 {
	font-weight: bold;
	margin: 1em 0 0.5em;
	font-size: 1.5rem;
}

p {
	margin: 1em 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1em;
}

/* color codes: #11165C #9497D4 #9497D425 */

/* ------------------------------------
				Header
--------------------------------------- */
/* --- navigation --- */
.logo {
	width: 30%;
}

nav {
	background-color: #11165C;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2rem;
}

nav li {
	box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
}

	/* LOVE HATE */
nav a,
nav a:link,
nav a:visited {
	font-size: 1.5rem;
	text-decoration: none;
	display: block;
	color: white;
	padding: 15px 0;
}

nav li .current,
nav li a:hover,
nav li a:focus {
	color: #11165C;
	background-color: white;		
}

/* --- banner --- */
.banner {
	background-color: white;
	background-size: cover;
}

/* ------------------------------------
				Main
--------------------------------------- */
main {
	background-color: #9497D425;
	color: #11165C;
}
.mood {
	padding: 40px;
}
.mood h1 {
	background-color: white;
	color: #11165C;
	text-align: center;
	margin: -10px 0;
	padding: 10px;
}
.mood p {
	margin: 40px auto 20px;
	text-align: center;
	line-height: 2rem;
	padding: 0 30px;
}
.mood button {
	color: #11165C;
	background: none;
	border: none;
	font-size: 1rem;
	font-weight: bold;
	margin: 20px auto 30px;
	display: block;
}
	
/* ------------------------------------
				Footer
--------------------------------------- */
footer p {
	background-color: #11165C;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	color: white;
}
/* ------------------------------------
---------------------------------------
			Desktop Style
---------------------------------------
--------------------------------------- */
@media screen and (min-width: 960px) {
	html {
		font-size: 18px;
	}

	/* ------------------------------------
				Header
	--------------------------------------- */
	/* --- navigation --- */
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 0 auto;
		align-items: center;
		max-width: 1200px;
		padding: 0 20px;
	}
	ul li {
		display: block;
		align-items: center;
	}
	
	nav li a:hover,
	nav li a:focus {
		padding: 70px 50px;		
	}

	nav li .current {
		padding: 70px 50px;
	}
	/* --- logo --- */
	.logo {
		width: 80%;
	}
	nav li:first-child {
		width: 20%;
		padding: 0;
	}
	nav li:first-child > a:hover {
		padding: 20px;
	}
	
	/* ------------------------------------
				Main
	--------------------------------------- */
	.mooda,
	.moodb,
	.moodc,
	.moodd {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 20px;
		margin: 40px 20px;
		align-items: center;
		justify-items: center;
	}
	.mood-text h1,
	.mood-text p {
		background: none;
		text-align: left;
		margin: 0 40px;
		padding: 0;
	}
	.mood-text p {
		font-size: 12px;
		line-height: 2;
		margin: 10px 40px;
	}
	.mood button {
		margin: 10px 40px;
		padding: 0;
		font-size: 16px;
	}
	.mood div:nth-child(odd) {
		background-color: #9497D425;
	}
	main {
		background-color: white;
	}
	.mood img {
		width: 100%;
	}
	

	
}